<meta charset="UTF-8">
<style>
@font-face {
    font-family: 'Kelson Sans Bold';
    src: url('fonts/KelsonSans-BoldRU.eot');
    src: url('fonts/KelsonSans-BoldRU.eot?#iefix') format('embedded-opentype'),
    url('fonts/KelsonSans-BoldRU.woff') format('woff'),
    url('fonts/KelsonSans-BoldRU.ttf') format('truetype');
}
._customer-adv__wrap {
    max-width: 822px;
    background: url("img/advantages/adv-bg.png");
    font-family: 'Kelson Sans Bold','PT Sans', sans-serif;
    font-size: 18px;
    color: #000000;
    padding: 30px 35px 26px 30px;
}
._customer-adv__ttl {
    font-size: 25px;
    color: #ea971f;
}
._customer-adv__brands {
    margin-top: 20px;
}
._customer-adv__brands-item {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
}
._customer-adv__brands-item:last-child {
    margin-right: 0;
}
._customer-adv__hr {
    height: 3px;
    background: #f7c557;
}
._customer-adv__text {
    margin-top: 20px;
}
._customer-adv__block {
    margin-top: 25px;
}
._customer-adv__item {
    display: flex;
    justify-content: flex-start;
    background: linear-gradient( 90deg, rgb(255,204,60) 0%, rgb(176,136,37) 25%, rgb(255,203,56) 50%, rgb(247,179,27) 75%, rgb(255,203,56) 100%);
    border-radius: 6px;
    margin-bottom: 8px;
    margin-left: 20px;
    padding: 16px 30px;
    position: relative;
}
._customer-adv__item img {
    width: 40px;
    height: 40px;
    position: absolute;
    top: calc(50% - 20px);
    left: -20px;
}
._customer-adv__item-text {
    display: grid;
    align-content: center;
}
</style>
<!-- Advantages start -->
<div class="_customer-adv__wrap">
    <div class="_customer-adv__ttl">
        «ТК МАСТ» – это гарантия низких цен благодаря обширным дилерским и дистрибьюторским соглашениям:
    </div>
    <div class="_customer-adv__brands">
        <div class="_customer-adv__brands-item">
            <img src="img/advantages/logo-1.png">
        </div>
        <div class="_customer-adv__brands-item">
            <img src="img/advantages/logo-2.png">
        </div>
        <div class="_customer-adv__brands-item">
            <img src="img/advantages/logo-3.png">
        </div>
        <div class="_customer-adv__brands-item">
            <img src="img/advantages/logo-4.png">
        </div>
        <div class="_customer-adv__brands-item">
            <img src="img/advantages/logo-5.png">
        </div>
        <div class="_customer-adv__brands-item">
            <img src="img/advantages/logo-6.png">
        </div>
    </div>
    <div class="_customer-adv__hr"></div>
    <div class="_customer-adv__text">
        «ТК МАСТ» предоставляет широкий спектр смазочных материалов как для легковых автомобилей,
        так и для промышленности. Мы гарантируем качество обслуживания и надежность поставок, так как:
    </div>
    <div class="_customer-adv__block">
        <div class="_customer-adv__item">
            <img src="img/advantages/warehouse.png">
            <div class="_customer-adv__item-text">
                На нашем складе в наличии более 6000 наименований товара.
            </div>
        </div>
        <div class="_customer-adv__item">
            <img src="img/advantages/truck.png">
            <div class="_customer-adv__item-text">
                Собственный автопарк в 30 автомобилей позволяет осуществить доставку товара
                на следующий день после заказа.
            </div>
        </div>
        <div class="_customer-adv__item">
            <img src="img/advantages/checked-symbol.png">
            <div class="_customer-adv__item-text">
                Поставляем только оригинальные продукты, так как имеем прямые контракты
                с производителями.
            </div>
        </div>
        <div class="_customer-adv__item">
            <img src="img/advantages/man-user.png">
            <div class="_customer-adv__item-text">
                Наши сотрудники всегда помогут подобрать нужный Вам продукт исходя
                из большого опыта работы в сфере ГСМ.
            </div>
        </div>
        <div class="_customer-adv__item">
            <img src="img/advantages/percentage.png">
            <div class="_customer-adv__item-text">
                Мы всегда готовы договориться по цене и условиям оплаты.
            </div>
        </div>
        <div class="_customer-adv__item">
            <img src="img/advantages/conversation.png">
            <div class="_customer-adv__item-text">
                Если у вас останутся вопросы к качеству нашего обслуживания, то мы всегда готовы
                разобраться в ситуации и компенсировать ваши убытки.
            </div>
        </div>
    </div>
</div>
<!-- Advantages end -->