<meta charset="UTF-8">

<style>
    @import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&subset=cyrillic');

    style {
        display: none !important;
    }
    ._customer-category_wrap {
        max-width: 627px;
        width: 100%;
        box-sizing: border-box;
        font: 700 18px/1.2 'PT Sans', sans-serif;
        color: #2e2a2b;
        margin: 0 auto;
        background: url("img/category/bg.png");
    }
    ._customer-category_ttl {
        width: 100%;
        color: #fff;
        font-size: 25px;
        background: url("img/category/bg-ttl.png");
        background-repeat: no-repeat;
        background-position: center top;
        min-height: 38px;
        display: flex !important;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        margin-bottom: 32px;
    }
    ._customer-category_list {
        width: 100%;
        display: flex !important;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
    }
    ._customer-category_list:after {
        content: "";
        display: block;
        height: 3px;
        width: 64%;
        border-top: 3px dotted #464646;
        position: absolute;
        top: 50px;
    }
    ._customer-category_item {
        width: 209px;
        display: flex !important;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: relative;
        z-index: 10;
    }
    ._customer-category_item img {
        width: 98px;
        height: auto;
    }
    ._customer-category_item-arrow:before {
        content: "";
        display: block;
        width: 18px;
        height: 26px;
        background-image: url("img/category/right-chevron.png");
        position: absolute;
        right: -8px;
        top: 38px;
    }
    ._customer-category_text {
        margin-top: 20px;
        margin-bottom: 35px;
    }
    ._customer-category_contact {
        width: 100%;
        min-height: 91px;
        background: url("img/category/bg-cont.png");
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
        position: relative;
        display: flex !important;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 0 30px;
        box-sizing: border-box;
    }
    ._customer-category_avatar {
        position: absolute;
        top: -15px;
        left: 30px;
    }
    ._customer-category_phone {
        font-size: 21px;
        color: #fff !important;
        text-decoration: none;
        background-repeat: no-repeat;
        background-position: left center;
        min-height: 28px;
        padding-left: 40px;
        line-height: 1.4;
        margin-left: 140px;
        transition: 0.2s;
        white-space: nowrap;
    }
    ._customer-category_phone:hover {
        color: #f7c557 !important;
    }
    ._customer-category-btn {
        width: 162px;
        min-height: 34px;
        display: flex !important;
        justify-content: center;
        border-width: 1.764px;
        border-color: rgb(255, 192, 65);
        border-style: solid;
        border-radius: 7px;
        cursor: pointer;
        color: #fff !important;
        padding: 4px 10px;
        box-sizing: border-box;
        font-size: 18px;
        margin-left: 40px;
        transition: 0.2s;
    }
    ._customer-category-btn:hover {
        background: #fff;
        color: #2e2a2b !important;
    }

    @media (max-width: 1226px) {
        ._customer-category_list:after,
        ._customer-category_item-arrow:before {
            display: none;
        }
        ._customer-category_contact {
            flex-direction: column;
            padding-top: 70px;
            padding-bottom: 20px;
        }
        ._customer-category_phone {
            margin: 10px 0;
        }
        ._customer-category-btn {
            margin-left: 0;
        }
        ._customer-category_avatar {
            left: 50%;
            transform: translateX(-50%);
        }
    }
</style>

<div class="_customer-category_wrap">
    <div class="_customer-category_ttl">
        ТК Маст - с нами удобно!
    </div>
    <div class="_customer-category_list">
        <div class="_customer-category_item _customer-category_item-arrow">
            <img src="img/category/smartphone.png" alt="">
            <div class="_customer-category_text">
                Звоните нам<br>
                или оставляйте заявку
            </div>
        </div>
        <div class="_customer-category_item _customer-category_item-arrow">
            <img src="img/category/support.png" alt="">
            <div class="_customer-category_text">
                Опытные сотрудники<br>
                помогут подобрать<br>
                нужный продукт
            </div>
        </div>
        <div class="_customer-category_item">
            <img src="img/category/delivery-truck.png" alt="">
            <div class="_customer-category_text">
                Доставка<br>
                на следующий день<br>
                после заказа
            </div>
        </div>
    </div>
    <div class="_customer-category_contact">
        <img class="_customer-category_avatar" src="img/category/avatar.png" alt="">
        <a href="tel:+79119143886" class="_customer-category_phone" style="background-image: url('/system/ckeditor_assets/pictures/141795/content_phone.png')"
           onclick="yaCounter45920343.reachGoal('megasite_comblock_order'); return true;">+7 (911) 914-38-86</a>
        <div class="js-apress-order-button js-get-order-form _customer-category-btn"
             data-company-id="99119062" data-company-name="ТК МАСТ" data-company-name-rest="ООО"
             data-company-url="http://www.tkmast-spb.ru" data-ga-id="CK-1193-1"
             data-params="{&quot;company_id&quot;:99119062}" data-statistics="1" data-type="message"
             onclick="yaCounter45920343.reachGoal('megasite_comblock_order'); return true;">
            заказать
        </div>
    </div>


</div>
