<style type="text/css">
       .fc-top {
            padding-bottom: 10px!important;
       }
       ._customer-footer {
            font: 22px "Trebuchet MS", sans-serif;
            font-weight: bold;
            height: 470px;
            background: #efefef;
            background-size: cover;
            padding-top: 30px;
            margin-bottom: -60px;
        }
        ._customer_wrap {
            max-width: 1227px;
            margin: 0 auto;
         }
        ._customer-top {
            display: flex;
            flex-direction: row;
            justify-content: left;
        }
        ._customer_logo {
            margin-left: 30px;
        }
        ._customer_contacts {
            margin-left: 40px;
        }
        ._customer-wrap {
            display: flex;
            flex-direction: row;
            justify-content: left;
        }
        ._customer-phone {
            background: url("img/footer/5.png") no-repeat;
            padding-left: 30px;
            background-position: 0 4px;
            margin-bottom: 3px;
        }
        ._customer-phone a, ._customer-mail a {
            color: #000000;
            text-decoration: none;
        }
        ._customer-mail {
            background: url("img/footer/4.png") no-repeat;
            padding-left: 30px;
            margin-left: 30px;
            background-position: 0 4px;
        }
        ._customer-address {
            background: url("img/footer/6.png") no-repeat;
            padding-left: 30px;
            background-position: 0 4px;
            margin-bottom: 5px;
        }
        ._customer-mode {
            margin-left: 30px;
        }
        ._customer-mode span {
            color: #f34207;
        }
        ._customer-line {
            width: 1158px;
            margin: 0 auto;
            margin-top: 30px;
        }
        ._customer-bottom {
            width: 1227px;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        ._customer-icons {
            max-width:484px;
            margin-top: 60px;
            margin-left: 40px;
            margin-right: 40px;
        }
        ._customer-maps {
            max-width: 580px;
            margin-top: 30px;
        }
		.apress-button {
			text-align: center;
			cursor: pointer;
			border-radius: 4px;
		}
</style>
<!-- footer -->
<footer class="_customer-footer" itemscope="" itemtype="http://schema.org/LocalBusiness">
<div class="_customer_wrap">
<div class="_customer-top">
<div class="_customer_logo" itemprop="logo"><a href="http://www.tkmast-spb.ru"><img alt="ТК Маст логотип" src="img/footer/3.png" /></a></div>

<div class="_customer_contacts" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
<div class="_customer-wrap">
<div class="_customer-phone" itemprop="telephone"><a href="tel:+78126454060">+7 (812) 645-40-60</a></div>

<div class="_customer-mail" itemprop="email"><a href="mailto:office@tkmast.ru">office@tkmast.ru</a></div>
</div>

<div class="_customer-address"><span itemprop="addressLocality">г. Санкт-Петербург, </span> <span itemprop="streetAddress">ш. Московское, 161, корпус 10 литер Б.</span></div>

<div class="_customer-mode"><span>Время работы:</span> пн-пт 9:00-18:00</div>
</div>

<div class="apress-button ab-order js-apress-order-button js-get-order-form" data-company-contacts-url="http://www.tkmast-spb.ru/contacts" data-company-name="ТК МАСТ" data-params="{&quot;company_id&quot;:&quot;99119062&quot;}" data-type="message" style="background-color: rgb(255, 67, 0); color: rgb(255, 255, 255); width: 225px; margin-left: 22px; height: 40px; line-height: 40px;"><span style="font-size: 1em;">Написать нам</span></div>

<p></p></div>

<div class="_customer-line"><img alt="Линия" src="img/footer/1.png" /></div>

<div class="_customer-bottom">
<div class="_customer-icons"><img alt="Лого компаний партнеров" src="img/footer/7.png" /></div>

<div class="_customer-maps"><iframe frameborder="0" height="260" src="https://yandex.ru/map-widget/v1/?um=constructor%3Ad7d8c4bfc78d6b9803127d67f7581134895a5bbf792996dee2aac27fcb7c0ff0&amp;source=constructor" width="580"></iframe></div>
</div>
</div>
<meta itemprop="name" content="ООО ТК Маст"><meta content="Mo,Tu,We,Th,Fr 09:00-18:00" itemprop="openingHours"></footer>
<!-- end footer -->